// Global default params, used in configs
params {
  refURL = 'https://raw.githubusercontent.com/iqbal-lab-org/viridian_workflow/v0.3.0/viridian_workflow/amplicon_scheme_data/MN908947.fasta'
  bedURL = 'https://raw.githubusercontent.com/artic-network/artic-ncov2019/master/primer_schemes/nCoV-2019/V3/nCoV-2019.bed'

  // parallel processing operation limit
  myQueueSize = 100000

  // number of maximum retries for errored processes
  myMaxRetries = 1

  // total number of error allowed per job 
  myMaxErrors = 1000

  // process fork limit
  myMaxForks = false
  
}


profiles {
    oke {
        k8s {
            namespace = 'default'
            storageClaimName = 'default-nextflow-fss-storage-work-pvc'
            storageMountPath = '/work'
            launchDir = "/work/runs/${params.run_uuid}"

            serviceAccount = 'default'
            projectDir = '/work/project'
            pod = [
                [label: 'pod-type', value: 'nextflow-worker'],
                [volumeClaim: 'default-nextflow-fss-storage-data-pvc', mountPath: '/data'],
                [imagePullSecret: 'sp3dockersecret'],
                [imagePullPolicy: 'IfNotPresent']
            ]
        }
        report {
            enabled = true
        }
        timeline {
            enabled = true
        }
        dag {
            enabled = true
        }
        trace {
            enabled = true
        }

        process {
            executor = 'k8s'
            scratch = true
            container = 'ubuntu:20.04'
        }
    }
}

// Capture exit codes from upstream processes when piping
//process.shell = ['/bin/bash', '-euo', 'pipefail']